<div class="container mt-4">
  <h2>Adicionar Novo Produto</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="codigo" class="form-label">Código:</label>
      <input id="codigo" type="text" formControlName="codigo" class="form-control">
      <div *ngIf="productForm.get('codigo')?.invalid && (productForm.get('codigo')?.dirty || productForm.get('codigo')?.touched)" class="text-danger">
        O código é obrigatório.
      </div>
    </div>
    <div class="mb-3">
      <label for="codigoProduto" class="form-label">Código do Produto:</label>
      <input id="codigoProduto" type="text" formControlName="codigoProduto" class="form-control">
      <div *ngIf="productForm.get('codigoProduto')?.invalid && (productForm.get('codigoProduto')?.dirty || productForm.get('codigoProduto')?.touched)" class="text-danger">
        O código do produto é obrigatório.
      </div>
    </div>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input id="nome" type="text" formControlName="nome" class="form-control">
      <div *ngIf="productForm.get('nome')?.invalid && (productForm.get('nome')?.dirty || productForm.get('nome')?.touched)" class="text-danger">
        O nome é obrigatório.
      </div>
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição:</label>
      <textarea id="descricao" formControlName="descricao" class="form-control"></textarea>
      <div *ngIf="productForm.get('descricao')?.invalid && (productForm.get('descricao')?.dirty || productForm.get('descricao')?.touched)" class="text-danger">
        A descrição é obrigatória.
      </div>
    </div>
    <div class="mb-3">
      <label for="unidadeMedida" class="form-label">Unidade de Medida:</label>
      <input id="unidadeMedida" type="text" formControlName="unidadeMedida" class="form-control">
      <div *ngIf="productForm.get('unidadeMedida')?.invalid && (productForm.get('unidadeMedida')?.dirty || productForm.get('unidadeMedida')?.touched)" class="text-danger">
        A unidade de medida é obrigatória.
      </div>
    </div>
    <div class="mb-3">
      <label for="precoUnitario" class="form-label">Preço Unitário:</label>
      <input id="precoUnitario" type="number" formControlName="precoUnitario" class="form-control">
      <div *ngIf="productForm.get('precoUnitario')?.invalid && (productForm.get('precoUnitario')?.dirty || productForm.get('precoUnitario')?.touched)" class="text-danger">
        O preço unitário é obrigatório e deve ser maior que 0.
      </div>
    </div>
    <div class="mb-3">
      <label for="categoria" class="form-label">Categoria:</label>
      <input id="categoria" type="text" formControlName="categoria" class="form-control">
      <div *ngIf="productForm.get('categoria')?.invalid && (productForm.get('categoria')?.dirty || productForm.get('categoria')?.touched)" class="text-danger">
        A categoria é obrigatória.
      </div>
    </div>
    <div class="mb-3">
      <label for="estoque" class="form-label">Estoque:</label>
      <input id="estoque" type="number" formControlName="estoque" class="form-control">
      <div *ngIf="productForm.get('estoque')?.invalid && (productForm.get('estoque')?.dirty || productForm.get('estoque')?.touched)" class="text-danger">
        O estoque é obrigatório e deve ser maior ou igual a 0.
      </div>
    </div>
    <button type="submit" [disabled]="productForm.invalid" class="btn btn-primary">Adicionar Produto</button>
  </form>
</div>
