/* Container do botão */
.header-tabela {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

/* Estilo do botão de adicionar */
.btn-adicionar {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-adicionar:hover {
  background-color: #218838;
}
