<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Produtos</h2>
    <button class="btn btn-primary" routerLink="/products/add">Adicionar Produto</button>
  </div>

  <div *ngIf="products.length === 0" class="alert alert-info" role="alert">
    Nenhum produto encontrado. Por favor, adicione novos produtos.
  </div>

  <div *ngIf="products.length > 0" class="row">
    <div *ngFor="let product of products" class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.nome }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Código: {{ product.codigoProduto }}</h6>
          <p class="card-text"><strong>Descrição:</strong> {{ product.descricao }}</p>
          <p class="card-text"><strong>Preço:</strong> {{ product.precoUnitario | currency:'BRL' }}</p>
          <p class="card-text"><strong>Estoque:</strong> {{ product.estoque }}</p>
          </div>
      </div>
    </div>
  </div>
</div>
